<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




<input type="hidden" th:value="${username}" id="username">
<input type="password" id="password"><BR>
<input type="password" id="newpassword"><BR>
<button id="changes">修改</button>


</body>
<script type="text/javascript"   th:src="@{/js/jquery.js}"></script>
<script type="text/javascript">

        var flag=[false,false,false];

    $("#password").blur(function () {
        var valus1= $("#password").val().trim();
        if (valus1==null||valus1==""){

            alert("不能为空");
            flag[0]=false;
            return;
        }
        flag[0]=true;

    });

        $("#newpassword").blur(function () {
            var valus2= $("#password").val().trim();
            if (valus2==null||valus2==""){

                alert("不能为空");
                flag[1]=false;
                return;
            }
            flag[1]=true;

        });



    $("#changes").click(function () {
    var valus1= $("#password").val();
    var valus2= $("#newpassword").val();
    if (valus1==valus2){

        flag[2]=true;
    } else {
        alert("密码不相等")
        flag[2]=false;
        return
    }
        $("#password").trigger("click");
        $("#newpassword").trigger("click");

        for (var i=0;i<flag.length;i++){
            if (flag[i]==false){

                return
            }
        }

        $.ajax({
            url:"/newPassword",
            type:"POST",
            data:{
                "username":$("#username").val(),
                "password":valus1
            },
            success:function (msg) {

                alert("重置密码成功")


            },
            error:function (msg) {
                alert("重置密码失败")

            }

        });



    })



</script>




</html>